// COLORS
$color-primary: #909090;
$color-primary-light: #909090;
$color-primary-dark: #909090;

$color-secondary-light: #424242;
$color-secondary-dark: #424242;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$oslo: #C0C0C0;
$tønsberg: #40BFC1;
$bergen: #FF6F5E;
$trondheim: #FFD700;





// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;